<header id="header">
    <div class="navbar navbar-static-top navbar-inverse">
        <div class=" container-fluid">
            <div class="col-xs-6 ">
                    <div class="dropdown">
                            <a class="lang-switcher dropdown-toggle" type="button" data-toggle="dropdown">EN<i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <ul class="dropdown-menu">
                              <li><a href="#">AR</a></li>
                             
                            </ul>
                          </div>
            </div>
            <span data-ng-click="root.sayNo()" class="col-xs-6 nopadding">
                <i class="  fa fa-bars pull-right" aria-hidden="true"></i>
            </span>

        </div>
    </div>
</header>
<main id="main" data-ui-view></main>
<footer class="footer">
    <div class="">
        <div class="col-xs-6">
         <span>© 2018 News. All rights reserved.</span>   
        </div>
        <div class="col-xs-6 text-right footer-links">
           <span data-ng-click="root.sayNo()"> Privacy Policy | Copyright | Terms & Conditions | Contact Us</span>
        </div>
    </div>

</footer>